<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UIExtension">
	<Product Id="*" Name="Test Runner Installer" Language="1033" Version="1.0.0.0" Manufacturer="Wills Productions" UpgradeCode="4d0320c8-d736-418a-9e05-35b1e7f0447c">
		<Package InstallerVersion="200" Platform="x64" Compressed="yes" InstallScope="perMachine" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Test Runner Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="Test Runner" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="TestRunner.exe" Win64="yes">
        <File Id="TestRunner.exe" Source="$(var.TestRunner.TargetPath)" KeyPath="yes" />
        <File Id="TestRunner.exe.manifest" Source="$(var.TestRunner.TargetDir)TestRunner.exe.manifest" KeyPath="no"/>
        <File Id="TestRunner.exe.config" Source="$(var.TestRunner.TargetDir)TestRunner.exe.config" KeyPath="no"/>
      </Component>
      <Component Id="TestRunnerLibrary.dll" Win64="yes">
        <File Id="TestRunnerLibrary.dll" Source="$(var.TestRunnerLibrary.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="TestRunnerServiceLibrary.dll" Win64="yes">
        <File Id="TestRunnerServiceLibrary.dll" Source="$(var.TestRunnerServiceLibrary.TargetPath)" KeyPath="yes" />
        <File Id="TestRunnerServiceLibrary.dll.config" Source="$(var.TestRunnerServiceLibrary.TargetDir)TestRunnerServiceLibrary.dll.config"/>
      </Component>
      <!--<Component Id="TestRunnerServiceHost.exe" Win64="yes">
        <File Id="TestRunnerServiceHost.exe" Source="$(var.TestRunnerServiceHost.TargetPath)" KeyPath="yes" />
        <File Id="TestRunnerServiceHost.exe.config" Source="$(var.TestRunnerServiceHost.TargetDir)TestRunnerServiceHost.exe.config" KeyPath="no"/>
        <ServiceInstall
          Id="TestRunnerServiceHostInstaller"
          Type="ownProcess"
          Vital="yes"
          Name="TestRunnerService"
          DisplayName="Test Runner Service"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="ignore"
          Interactive="no">
        </ServiceInstall>
        <ServiceControl Id="TestRunnerService" Start="install" Stop="both" Remove="uninstall" Name="TestRunnerService" Wait="yes" />
      </Component>-->
		</ComponentGroup>
	</Fragment>
</Wix>