<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="TestRunnerInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Wills Productions" UpgradeCode="4d0320c8-d736-418a-9e05-35b1e7f0447c">
		<Package InstallerVersion="200" Platform="x64" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="TestRunnerInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="TestRunnerInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="TestRunner" Win64="yes">
        <File Id="TestRunner.exe" Source="$(var.TestRunner.TargetPath)" KeyPath="yes" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
